<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Preferencias de la audiencia</title>
  </head>
  <body>
    <div class="conteiner">
      <header class="header">
        <h1 class="title">Encuesta a la audiencia.</h1>
        <p class="header_descripcion title">
          Muchas gracias por darnos un poco de su tiempo para ayudanos a mejorar
          nuestra programación musical.
        </p>
      </header>
      <form class="formulario">
        <div class="campo1">
          <label for=""
            >Selecciona el rango de edad en que te encuentras:
            <select name="edad" id="edad">
              <option value="1">Menor de 15 años</option>
              <option value="2">Entre 16 y 21 años</option>
              <option value="3">Entre 22 y 27 años</option>
              <option value="4">Entre 28 años y 33 años</option>
            </select>
          </label>
        </div>

        <div class="campo2">
          <label>¿De que localidad sos?</label>
          <select name="localidad" id="localidad">
            <option value=""></option>
          </select>
        </div>

        <div class="campo3">
          <label>Género</label>
          <select name="genero" id="genero">
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
            <option value="3">No quiero decirlo</option>
          </select>
        </div>

        <div class="campo4">
          <label>¿En qué nivel de estudio te encontras?</label>
          <select name="nivelStudio" id="nivelStudio">
            <option value="1">Primario</option>
            <option value="2">Secundario</option>
            <option value="3">Terciario</option>
          </select>
        </div>

        <div class="campo5">
          <label>¿En qué momento del día escuchas nuestra radio?</label>
          <select name="escucha" id="escucha">
            <option value="1">Mañana</option>
            <option value="2">Tarde</option>
            <option value="3">Noche</option>
          </select>
        </div>

        <div class="camp6">
          <label>¿Tenés algún género musical que prefieras más?</label>
          <select name="generoMusic" id="generoMusic">
            <option value="1">Pop</option>
            <option value="2">Trap</option>
            <option value="3">K-pop</option>
            <option value="4">Cumbia</option>
            <option value="5">Folklore</option>
            <option value="6">Rock Nacional</option>
            <option value="7">Regeton</option>
          </select>
        </div>

        <div class="campo">
          <label
            >Según las músicas que más escuchas. ¿En qué idioma estan?</label
          >
          <input type="text" name="" id="" />
        </div>

        <div class="campo">
          <label>¿Cuál es tu artista favorito?</label>
          <input type="text" name="" id="" />
        </div>

        <div class="campo">
          <label>¿Cuál es tu banda/grupo favorito?</label>
          <input type="text" name="" id="" />
        </div>
      </form>
    </div>
  </body>
</html>
